In [1]:
from arm import BernoulliArm
from greedy import Greedy

mus = [0.1, 0.6, 0.8, 0.2]
arms = [BernoulliArm(mu) for mu in mus]
N=1000
alg = Greedy(arms,N)
print(arms[2])
print(alg)

<BernoulliArm> mu: 0.8 hit/trial: 0/0
<Greedy> N=1000 Arms=[BernoulliArm(0.1), BernoulliArm(0.6), BernoulliArm(0.8), BernoulliArm(0.2)]

In [2]:
df = alg.execute()

In [3]:
df

     arm  reward
0      0       0
1      1       1
2      2       0
3      3       0
4      1       1
5      1       0
6      1       0
7      1       1
8      1       1
9      1       1
10     1       1
11     1       0
12     1       1
13     1       0
14     1       1
15     1       1
16     1       1
17     1       1
18     1       0
19     1       0
20     1       1
21     1       1
22     1       0
23     1       0
24     1       1
25     1       0
26     1       1
27     1       1
28     1       1
29     1       1
..   ...     ...
970    1       1
971    1       1
972    1       0
973    1       0
974    1       0
975    1       1
976    1       0
977    1       0
978    1       1
979    1       1
980    1       1
981    1       1
982    1       1
983    1       1
984    1       1
985    1       0
986    1       0
987    1       1
988    1       0
989    1       0
990    1       0
991    1       1
992    1       0
993    1       1
994    1       1
995    1       1
996    1       0
997    1       1
998    1       0
999    1       1

[1000 rows x 2 columns]